<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${tittle}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>

    <ul>
        <li th:text="${name}"></li>
        <li th:text="${lastname}"></li>
        <li th:if="${email != nul}" th:text="${email}"></li> <!-- Aquí le decimos que nos oculte el campo si el correo es null -->
        <li th:if="${email == nul}" th:text="${'No tiene Email'}"></li> <!-- Aquí le decimos que si el correo es null nos muestre no tiene Email.-->
    </ul>
</body>
</html>